:root{
    --purple:#4d0e5a;
    --litePurple:#dfc9e4;
}
*{
    margin:0;
    padding:0;
    box-sizing:0;
}
body{
    font-size:16px;
    font-family:'Open Sans Condensed', Arial, Helvetica, sans-serif;
    width:100vw;
}
/* Services page starts here */
.branding_wrapper{
    width:100%;
    height:100px;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
}
.branding{
    font-family: 'Sacramento', Arial, sans-serif;
    color:var(--purple);
    display: flex;
    height:100%;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
.brand_name h1{
    font-size:2rem;
}
.menu{
    display:flex;
    flex-direction: column;
    height:100%;
    text-align:right;
    align-items:flex-end;
    justify-content: center;
    padding:0px 10px;
}
.menu a{
    text-decoration: none;
    color:var(--purple);
    font-weight: bold;
}
#container{
    height:auto;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.bg_lite_color{
    background-image:url(../images/bgPic.jpg);
    background-repeat: no-repeat;
    background-origin:center;
    background-size: cover;
    background-position: center;
    display:flex;
    z-index:-1;
} 
.services{
    padding:20px;
    background-color:var(--purple);
    color:#fff;
    height:700px;
    max-height:700px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:5;
    opacity:0.6;
}
.services h2{
    font-size:2.5em;
}
 /* Services page ends here */

 /* Gallery Styling starts here*/
 
 /* Gallery Styling ends here*/

 /* Form styling starts here */
 #contact_form{
     width:100%;
 }
 .form-container{
     width:80%;
     margin:auto;
     padding:20px;
 }
 .form-header{
     display:flex;
     width:100%;
     height:50px;
     align-items:center;
 }
 .form-header h4{
     width:100%;
     text-align:center;
     font-size:2em;
     color:var(--purple);
 }
 .form form{
     width:80%;
     margin:auto;
     font-size:1em;
 }
 .form form label{
     color:var(--purple);
     font-weight:bold;
 }
 .form form input[type="text"],
 .form form input[type="email"]{
     margin-bottom:20px;
     height:1.5em;
     width: 80%;
     padding:5px;
     border:1px solid var(--purple);
     border-right:none;
     border-left:none;
     border-top:none;
     margin-top:6px;
 }
 .form form textarea{
     resize:vertical;
     width:80%;
     border:1px solid var(--purple);
     padding:5px;
     margin-top:6px;
 }
 #btn-submit{
     width:85%;
     height:2em;
     padding:4px;
     color:#fff;
     font-size:1.6em;
     background-color:var(--purple);
     border-radius:9px;
     border:transparent;
     margin-top:10px;
     margin-bottom:10px;
 }
 /* Form styling ends here */


/* Big Screens: Media queries */
@media screen and (min-width:600px){
    body{
        display:none;
    }
}