:root{
    --purple:#4d0e5a;
    --litePurple:#dfc9e4;
}
*{
    margin:0;
    padding:0;
    box-sizing:0;
}
body{
    font-size:16px;
    font-family:'Open Sans Condensed', Arial, Helvetica, sans-serif;
}
/* Services page starts here */
.branding_wrapper{
    width:100%;
    height:100px;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#f2f5f5;
}
.branding{
    font-family: 'Sacramento', Arial, sans-serif;
    color:var(--purple);
    display: flex;
    height:100%;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
.brand_name h1{
    font-size:2rem;
}
.menu{
    display:flex;
    flex-direction: column;
    text-align:right;
    align-items:flex-end;
    justify-content: center;
    padding:0px 10px;
    margin-right:20px;
}
.menu a{
    text-decoration: none;
    color:var(--purple);
    font-weight: bold;
}
#container{
    max-height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.bg_lite_color{
    background-image:url(../images/bgPic.jpg);
    background-repeat: no-repeat;
    background-origin:center;
    background-size: cover;
    background-position: center;
    display:flex;
    z-index:-1;
} 
.services{
    padding:20px;
    background-color:var(--purple);
    color:#fff;
    height:700px;
    max-height:700px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:5;
    opacity:0.6;
}
.services h2{
    font-size:2.5em;
}
 /* Services page ends here */

 /* Gallery Styling starts here*/
 #gallery{
     display:flex;
     flex-direction: column;
     height:100vh;
     width:100vw;
     background-color:#f2f5f5;
 }
 .gallery-header{
     height:100px;
     width:100%;
     padding:20x;
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content: center;
     color:var(--purple);
     font-size:1.2em;
     font-family:'Open Sans Condensed', Arial, Helvetica;
 }
 .gallery-grid{
     display:grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(3,1fr);
     grid-gap:10px;
     height:80vh;
     width:80%;
     margin:auto;
 }
 .image1{
     grid-column: 1/span 1;
     grid-row:1/span 1;
     background-image: url(../images/gallery1.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-origin: center;
 }
 .image2{
    grid-column:2/span 1;
    grid-row:1/span 1;
    background-image: url(../images/gallery2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center;
}
.image3{
    grid-column:1/span 1;
    grid-row:2/span 1;
    background-image: url(../images/gallery3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center;
}
.image4{
    grid-column:2/span 1;
    grid-row:2/span 1;
    background-image: url(../images/gallery4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center;
}
.image5{
    grid-column:1/span 1;
    grid-row:3/span 1;
    background-image: url(../images/gallery5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center;
}
.image6{
    grid-column:2/span 1;
    grid-row:3/span 1;
    background-image: url(../images/gallery6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center;
}
.transparent-bg{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.transparent-bg a{
    text-decoration: none;
    color:#fff;
    font-size: 2em;
    font-family:'Sacramento', Arial, sans-serif ;
}
.transparent-bg:hover{
    background-color:var(--litePurple);
    opacity:0.8;
    transition: background-color 0.6s ease-in-out;
}
 /* Gallery Styling ends here*/

 /* Form styling starts here */
 #contact_form{
     width:100vw;
     height:100vh;
     background-color:var(--litePurple);
 }
 .form-container{
     width:50%;
     margin:auto;
     padding:20px;
 }
 .form-header{
     display:flex;
     /* width:100%; */
     height:50px;
     align-items:center;
     padding:20px;
 }
 .form-header h4{
     width:100%;
     text-align:center;
     font-size:2em;
     color:var(--purple);
 }
 .form form{
     width:80%;
     margin:auto;
     font-size:1em;
 }
 .form form label{
     color:var(--purple);
     font-weight:bold;
 }
 .form form input[type="text"],
 .form form input[type="email"]{
     margin-bottom:20px;
     height:1.5em;
     width: 100%;
     padding:5px;
     border:1px solid var(--purple);
     border-right:none;
     border-left:none;
     border-top:none;
     margin-top:6px;
     outline:none;
     border-top-left-radius:4px;
     border-top-right-radius:4px;
 }
 .form form textarea{
     resize:vertical;
     width:100%;
     border:1px solid var(--purple);
     padding:5px;
     margin-top:6px;
     outline:none;
     border-radius:4px;
 }
 #btn-submit{
     width:100%;
     height:2em;
     padding:4px;
     color:#fff;
     font-size:1.6em;
     background-color:var(--purple);
     border-radius:9px;
     border:transparent;
     margin:10px auto;
 }
 /* Form styling ends here */


/* Big Screens: Media queries */
@media screen and (min-width:600px){
    body{
        display:none;
    }
}